---
layout: default
---




      <div class="content">
        <h2>Evolución del COVID-19 en Aragón</h2>
        <div class="chart-container">
            <canvas id="chartAragon"></canvas>
        </div>
        {% assign last_day = site.data.coronavirus_cases | last %}
        <h2>Últimos datos {{ last_day.fecha }}</h2>
        <div>
          <ul>
            <li>Casos confirmados: <b>{{ last_day.casos_confirmados }}</b>, hoy <b>{{ last_day.confirmados_activos}}</b>. Un <b>{{ last_day.porcentaje_personas_confirmadas }} %</b> de aragoneses han sido casos confirmados.</li>
            <li>Altas totales: <b>{{ last_day.altas }}</b>, hoy <b>{{last_day.altas_dia}}</b>.  Un <b>{{ last_day.porcentaje_altas_confirmados }} %</b> de casos confirmados se han dado de alta 💪.</li>
            <li>Fallecimientos: <b>{{ last_day.fallecimientos }}</b>, hoy <b>{{ last_day.fallecimientos_dia }}</b>. Un <b>{{ last_day.porcentaje_fallecimiento_confirmados }} %</b> de los confirmados han fallecido.</li>
            <li>Ingresos hospitalarios: <b>{{ last_day.ingresos_hospitalarios }}</b>. Un <b>{{ last_day.porcentaje_ingresos_confirmados}} %</b> de los confirmados han requerido ingreso hospitalario.</li>
            <li>Ingresos en UCI: <b>{{ last_day.ingresos_uci }}</b>. Un <b>{{ last_day.porcentaje_uci_confirmados }} %</b> de los confirmados han sido ingresados en UCI.</li>
            <li>Casos de personal sanitario: <b>{{ last_day.casos_personal_sanitario }}</b>. Un <b>{{ last_day.porcentaje_sanitarios_confirmados }} %</b> de los confirmados pertenecen a personal sanitario .</li> 
            <li>Total de habitantes en Aragón <b>{{ last_day.total_personas}}</b>. </li>
          </ul>
        </div>

        <style>
          .negative{ color: red;}
          .positive{ color: green;}
        </style>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">        

        {% assign initial_day = site.data.coronavirus_cases | first %}
        <h2>Progresión desde el {{ initial_day.fecha }} en Aragón</h2>
        {% include table.html coronavirus_cases=site.data.coronavirus_cases %}

        {% assign initial_day = site.data.coronavirus_cases_huesca | first %}
        <h2>Progresión desde el {{ initial_day.fecha }} en Huesca</h2>
        <div class="chart-container">
            <canvas id="chartHuesca"></canvas>
        </div>
        {% include table.html coronavirus_cases=site.data.coronavirus_cases_huesca %}

        {% assign initial_day = site.data.coronavirus_cases_teruel | first %}
        <h2>Progresión desde el {{ initial_day.fecha }} en Teruel</h2>
        <div class="chart-container">
            <canvas id="chartTeruel"></canvas>
        </div>
        {% include table.html coronavirus_cases=site.data.coronavirus_cases_teruel %}

        {% assign initial_day = site.data.coronavirus_cases_zaragoza | first %}
        <h2>Progresión desde el {{ initial_day.fecha }} en Zaragoza</h2>
        <div class="chart-container">
            <canvas id="chartZaragoza"></canvas>
        </div>
        {% include table.html coronavirus_cases=site.data.coronavirus_cases_zaragoza %}

        <div class="nota fuente">
          <span>Datos obtenidos de <a href="https://opendata.aragon.es/datos/catalogo/dataset/publicaciones-y-anuncios-relacionados-con-el-coronavirus-en-aragon">Aragón Open Data</a>, actualizados el {{ last_day.fecha }}.</span>
        </div>
      </div>




    <script>
      var aragon = {name: "Aragón", dates: [], actives: [], deceases: [], recovered: []}
      {% for case in site.data.coronavirus_cases %}
        aragon.dates.push("{{ case.fecha }}")
        aragon.actives.push({{ case.confirmados_activos }})
        aragon.deceases.push({{ case.fallecimientos_dia }})
        aragon.recovered.push({{ case.altas_dia }})
      {% endfor%}
      var huesca = {name: "Huesca", dates: [], actives: [], deceases: [], recovered: []}
      {% for case in site.data.coronavirus_cases_huesca %}
        huesca.dates.push("{{ case.fecha }}")
        huesca.actives.push({{ case.confirmados_activos }})
        huesca.deceases.push({{ case.fallecimientos_dia }})
        huesca.recovered.push({{ case.altas_dia }})
      {% endfor%}
      var teruel = {name: "Teruel", dates: [], actives: [], deceases: [], recovered: []}
      {% for case in site.data.coronavirus_cases_teruel %}
        teruel.dates.push("{{ case.fecha }}")
        teruel.actives.push({{ case.confirmados_activos }})
        teruel.deceases.push({{ case.fallecimientos_dia }})
        teruel.recovered.push({{ case.altas_dia }})
      {% endfor%}
      var zaragoza = {name: "Zaragoza", dates: [], actives: [], deceases: [], recovered: []}
      {% for case in site.data.coronavirus_cases_zaragoza %}
        zaragoza.dates.push("{{ case.fecha }}")
        zaragoza.actives.push({{ case.confirmados_activos }})
        zaragoza.deceases.push({{ case.fallecimientos_dia }})
        zaragoza.recovered.push({{ case.altas_dia }})
      {% endfor%}
      window.onload = function() {
        draw("chartAragon", getChartConfigFor(aragon));
        draw("chartHuesca", getChartConfigFor(huesca));
        draw("chartTeruel", getChartConfigFor(teruel));
        draw("chartZaragoza", getChartConfigFor(zaragoza));
      }
    </script>
