---
layout: default
title: Aragón. 
---
      <div class="content">
        {% assign last_day_aragon = site.data.coronavirus_cases | last %}
        {% assign initial_day_aragon = site.data.coronavirus_cases | first %}

        <div id="aragon" class="ancla aragon"></div>
        <h1>Aragón</h1>
        <h2 class="inicio">Última actualización {{ last_day_aragon.fecha }}</h2>
        <div class="fuente">
            Datos oficiales obtenidos de <a href="https://opendata.aragon.es/datos/catalogo/dataset/publicaciones-y-anuncios-relacionados-con-el-coronavirus-en-aragon">Aragón Open Data</a>, actualización diaria a las 12:00h.
        </div>

        {% include dashboardToday.html %}

        <h2>Evolución del COVID-19 en Aragón hasta el {{ last_day_aragon.fecha }}</h2>
        <div class="chart-container">
            <canvas id="chartAragon"></canvas>
        </div>

        <h2>Datos acumulados en Aragón</h2>
        {% include dashboard.html last_day=last_day_aragon demonym="aragoneses" %}

        <h2>Progresión diaria desde el {{ initial_day_aragon.fecha }} en Aragón</h2>
        {% include table.html coronavirus_cases=site.data.coronavirus_cases place="aragon" %}

        <h2>Ocupación hospitalaria en Aragón</h2>
        <canvas id="chartHospitals"></canvas>

        {% include suscription.html %}

        <div class="nota fuente">
          <span>Datos oficiales obtenidos de <a href="https://opendata.aragon.es/datos/catalogo/dataset/publicaciones-y-anuncios-relacionados-con-el-coronavirus-en-aragon">Aragón Open Data</a>, actualización diaria a las 12:00h.</span>
        </div>
      </div>

    <script>
      aragon = {name: "Aragón", dates: [], actives: [], deceases: [], recovered: [], news: []}
      {% for case in site.data.coronavirus_cases %}
        aragon.dates.push("{{ case.fecha | date: '%d/%m' }}")
        aragon.actives.push({{ case.confirmados_activos }})
        aragon.news.push({{ case.confirmados_dia }})
        aragon.deceases.push({{ case.fallecimientos_dia }})
        aragon.recovered.push({{ case.altas_dia }})
      {% endfor%}

      var aragonHospitals = JSON.parse('{{site.data.hospitals | jsonify}}');
      draw("chartHospitals", getHospitalChartConfigFor(toChartPlace(aragonHospitals)));
    </script>
