---
layout: default
title: Zaragoza.
---
<div class="content">
  {% assign initial_day_zaragoza = site.data.coronavirus_cases_zaragoza | first %}
  {% assign last_day_zaragoza = site.data.coronavirus_cases_zaragoza | last %}

  <div id="last" class="ancla"></div>
  <h1>Zaragoza</h1>
  <h2 class="inicio">Última actualización {{ last_day_zaragoza.fecha }}</h2>
  <div class="fuente">
      Datos oficiales obtenidos de <a href="https://opendata.aragon.es/datos/catalogo/dataset/publicaciones-y-anuncios-relacionados-con-el-coronavirus-en-aragon">Aragón Open Data</a>, actualización diaria a las 12:00h.
  </div>

  {% include dashboardTodayProvince.html last_day=last_day_zaragoza %}

  <div id="evolution" class="ancla"></div>
  <h2>Evolución del COVID-19 en Zaragoza hasta el {{ last_day_zaragoza.fecha }}</h2>
  <div class="chart-container">
      <canvas id="chartZaragoza"></canvas>
  </div>

  <div id="total" class="ancla"></div>
  <h2>Datos acumulados en Zaragoza</h2>
  {% include dashboard.html last_day=last_day_zaragoza demonym="zaragozanos" %}

  <div id="progression" class="ancla"></div>
  <h2>Progresión diaria desde el {{ initial_day_zaragoza.fecha }} en Zaragoza</h2>
  {% include table.html coronavirus_cases=site.data.coronavirus_cases_zaragoza place="zaragoza"%}

  <div id="hospitals" class="ancla"></div>
  <h2>Ocupación hospitalaria en Zaragoza</h2>
  <div class="chart-container">
    <canvas id="chartHospitals"></canvas>
  </div>

  {% include suscription.html %}

  <div class="nota fuente">
    <span>Datos oficiales obtenidos de <a href="https://opendata.aragon.es/datos/catalogo/dataset/publicaciones-y-anuncios-relacionados-con-el-coronavirus-en-aragon">Aragón Open Data</a>, actualización diaria a las 12:00h.</span>
  </div>
</div>
<script>
  zaragoza = {name: "Zaragoza", dates: [], actives: [], deceases: [], recovered: [], news: []}
  {% for case in site.data.coronavirus_cases_zaragoza %}
    zaragoza.dates.push("{{ case.fecha | date: '%d/%m' }}")
    zaragoza.actives.push({{ case.confirmados_activos }})
    zaragoza.news.push({{ case.confirmados_dia }})
    zaragoza.deceases.push({{ case.fallecimientos_dia }})
    zaragoza.recovered.push({{ case.altas_dia }})
  {% endfor%}
  var aragonHospitals = JSON.parse('{{site.data.hospitals | jsonify}}');
  var chartPlace;
  for (var index = 0; aragonHospitals.provinces.length > index; index++) {
    var province = aragonHospitals.provinces[index];
    if(province.name == "Zaragoza"){
      chartPlace = toChartPlace(province)
    }
  }
  draw("chartHospitals", getHospitalChartConfigFor(chartPlace));
</script>
