<div class="dashboard">
  <div class="card confirmados">
    <h3>Nuevos casos confirmados</h3>
    <span class="number">{% include formatNumber.html number=last_day_aragon.confirmados_dia decimals=0%}</span><br>
    En Huesca <b>{% include formatNumber.html number=last_day_huesca.confirmados_dia decimals=0%}</b><br>
    En Zaragoza <b>{% include formatNumber.html number=last_day_zaragoza.confirmados_dia decimals=0%}</b><br>
    En Teruel <b>{% include formatNumber.html number=last_day_teruel.confirmados_dia decimals=0%}</b><br>
    {% if last_day_otros.confirmados_dia != "0"%}
    Sin asignar <b>{% include formatNumber.html number=last_day_otros.confirmados_dia decimals=0%}</b>
    {% endif %}
  </div>
  <div class="card altas">
    <h3>Nuevas altas</h3>
    <span class="number">{% include formatNumber.html number=last_day_aragon.altas_dia decimals=0 %}</span><br>
    En Huesca <b>{% include formatNumber.html number=last_day_huesca.altas_dia decimals=0 %}</b><br>
    En Zaragoza <b>{% include formatNumber.html number=last_day_zaragoza.altas_dia decimals=0 %}</b><br>
    En Teruel <b>{% include formatNumber.html number=last_day_teruel.altas_dia decimals=0 %}</b><br>
    {% if last_day_otros.altas_dia != "0"%}
    Sin asignar <b>{% include formatNumber.html number=last_day_otros.altas_dia decimals=0%}</b>
    {% endif %}
 </div>
  <div class="card fallecimientos">
    <h3>Nuevos fallecimientos</h3>
    <span class="number">{% include formatNumber.html  number=last_day_aragon.fallecimientos_dia decimals=0 %}</span><br>
    En Huesca <b>{% include formatNumber.html  number=last_day_huesca.fallecimientos_dia decimals=0 %}</b><br>
    En Zaragoza <b>{% include formatNumber.html  number=last_day_zaragoza.fallecimientos_dia decimals=0 %}</b><br>
    En Teruel <b>{% include formatNumber.html  number=last_day_teruel.fallecimientos_dia decimals=0 %}</b><br>
    {% if last_day_otros.fallecimientos_dia != "0"%}
    Sin asignar <b>{% include formatNumber.html number=last_day_otros.fallecimientos_dia decimals=0%}</b>
    {% endif %}
  </div>
</div>