<div class="dashboard today">
  <div class="card activos">
    {% include illustrations/ico_activos.svg %}
    <h3>Casos activos</h3>
    <div class="number">{% include formatNumber.html number=include.last_day.confirmados_activos decimals=0%}</div>
  </div>
  <div class="card confirmados">
    {% include illustrations/ico_confirmados.svg %}
    <h3>Nuevos casos confirmados</h3>
    <div class="number">{% include formatNumber.html number=include.last_day.confirmados_dia decimals=0%}</div>
    <!-- <p style="font-size: 0.7em; line-height: 1.3rem;">
      Sanidad ha cambiado el criterio de contabilización de confirmados de forma que a partir del 18 solo se contabilizan como contagiados los confirmados a través de PCR y ELISA IgM. Este cambio de criterio provoca cifras no reales en los nuevos casos confirmados de hoy.
    </p> -->
  </div>
  <div class="card altas">
    {% include illustrations/ico_altas.svg %}
    <h3>Nuevas altas</h3>
    <div class="number">{% include formatNumber.html number=include.last_day.altas_dia decimals=0 %}</div>
    <!-- <p style="font-size: 0.7em; line-height: 1.3rem;">
      Los datos de altas no se han actualizado. Fuente: <a href="http://www.aragonhoy.net/index.php/mod.noticias/mem.detalle/area.1020/id.261019" target="_blank">Aragón Hoy</a>.
    </p> -->
  </div>
  <div class="card fallecimientos">
    {% include illustrations/ico_fallecimientos.svg %}
    <h3>Nuevos fallecimientos</h3>
    <div class="number">{% include formatNumber.html  number=include.last_day.fallecimientos_dia decimals=0 %}</div>
  </div>
</div>