<table>
  <tr>
    <th>Fecha</th>
    <th>Casos activos</th>
    <th>Casos nuevos</th>
    <th>Altas</th>
    <th><div class="desktop">Fallecimientos</div><div class="mobile">Fallec.</div></th>
  </tr>
  {% assign cases = include.coronavirus_cases | reverse %}
  {% for case in cases %}
  <tr>
    <td class="fecha">
      {% include illustrations/ico_informacion.svg %}
      <span>{{ case.fecha | date: "%d/%m" }}</span>
    </td>
    <td>{% include tendency.html difference=case.diferencia_confirmados_activos %}
      <div class="diary">
        {% include formatNumber.html number=case.confirmados_activos decimals=0 %}
      </div>
    </td>
    <td>{% include tendency.html difference=case.diferencia_confirmados_dia %} 
      <div class="diary">
        {%if case.confirmados_dia != "-1" %}
          {{ case.confirmados_dia }}
        {% endif %}
      </div>
    </td>
    <td>{% include tendency.html difference=case.diferencia_altas_dia increase_is_positive=true%} 
      <div class="diary">
        {%if case.altas_dia != "-1" %}
          {{ case.altas_dia }}
        {% endif %}
      </div>
    </td>
    <td>{% include tendency.html difference=case.diferencia_fallecimientos_dia %} 
      <div class="diary">
        {%if case.fallecimientos_dia != "-1" %}
          {{ case.fallecimientos_dia }}
        {% endif %}
      </div>
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td class="nota" colspan="5">
      El descuadre a nivel provincial se debe a que hoy se han añadido los casos confirmados por test rápidos que <a href="http://www.aragonhoy.net/index.php/mod.noticias/mem.detalle/area.1050/id.258841" target="_blank">se contabilizaron en Aragón el día 16</a>
    </td>
  </tr>
</table>