---
---

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/** COLORES **/
$verde:#01afaf;
$verdeClaro: #3bd2d278;
$verdeExtraClaro:#dbf4f4;
$verdeOscuro: #08a4a4;
$verdeExtraOscuro:#008e8a;
$blanco:#FFFFFF;
$negro:#1c1c1c;
$gris:#919191;
$grisClaro:#bcbcbc;
$rojo:#ff3867;


/** FUENTES **/
$fuente_titulos:'Montserrat', sans-serif;
$fuente_textos: 'Lato', sans-serif;

html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding:0;
    font-family: $fuente_textos;
    color:$negro;
    line-height: 1.7em;
    font-size: 1.21rem;
}
.ancla{
    position:relative;
    visibility: hidden;
    height: 1px;
    width: 1px;
}
.aragon{
    top:-80px;
}
.huesca{
    top:-80px;
}
.zaragoza{
   top:-80px;
}
.teruel{
   top:-80px;
}
a{
    color: $verde;
    font-weight: 800;
}
header{
}
header nav{
    float:right;
    width: 40%;
    margin: 139px 5% 0 0;
}
header nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
header nav ul li{
    flex-grow: 1;
    font-size: 1.7rem;
}
header a{
    text-decoration: none;
}
.content{
    padding: 0 10% 0 10%;
}
.logo{
    width: 160px;
    margin: 53px 0 0 6%;
}
.barSup{
    height: 17px;
    background-color: $verdeClaro;
}
.header {
    padding: 0px 0 10px 0;
    z-index: 999;
    background-size: cover;
    background: url(/assets/img/curvas.jpg) 0px 0px #FFF no-repeat; 
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 0px -55px 14px 68px rgba(255,255,255,1);
    -moz-box-shadow: 0px -55px 14px 68px rgba(255,255,255,1);
    box-shadow: 0px -55px 14px 68px rgba(255,255,255,1);
}
.sticky .barSup{
    display: none;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}
.sticky .logo {
    width: 103px;
    margin: 20px 0 0 6%;
}
.header.sticky {
    background: url(/assets/img/curvas.jpg) 0px -23px #FFF no-repeat;
}
footer{
    font-size: 1.1rem;
    margin-top: 20px;
    background: url(/assets/img/fondoVerdeClaro.jpg);
    min-height: 190px;
}
footer .bar{
    width: 100%;
    height:123px;
    background: url(/assets/img/curvasFooter.jpg) 0px 0px #bce8e9 no-repeat;
}
footer .content{
    display: flex;
    align-items:center;
    width: 80%;
}
footer .author{
    width: 80%;
    color:$verdeExtraOscuro;
}
footer .legal{
    float: right;
    width: 20%;
    min-width: 130px;
}
footer .author a{
   color:$verdeOscuro;
}
footer .icoGithub{
    width:40px;
    float: right;
    margin:0; 
}
footer .icoCookies{
    width:40px;
    margin:0;
    margin: 0 20px 0 0;
    float: right;
    overflow: overlay;
}
.sticky nav{
    width: 40%;
    margin: 47px 5% 0 0;
}
.sticky li{
  font-size: 1.5rem
}
h2{
    margin: 80px 0 40px 0;
    color:$verde;
    font-size: 2.6rem;
    line-height: 4rem;
    font-family: $fuente_titulos;
    font-weight: 500;
}
h3{
    color:$verde;
    font-size: 1.9rem;
    font-family: $fuente_titulos;
    margin-top: 0;
    line-height: 2.5rem;
}
h4{
    color:$verdeOscuro;
    font-size: 1.5rem;
    font-family: $fuente_titulos;
    margin: 0 0 10px 0;
}
table{
    width:100%;
    margin-top: 40px;
}
th{
    text-transform: uppercase;
    font-size: 0.8em;
    text-align: center;
    background-color: $verde;
    color:$blanco;
    padding: 1.1%;
    line-height: 1.2em;
}
table th .mobile{
    display: none;
}
td{
    border-bottom: $grisClaro 1px solid;
    text-align: right;
    padding-right: 10px;
    width: 14%;
}
.fuente{
  margin:0 0 50px 0; 
}
.nota.fuente{
    margin-top: 80px;
}
.negative{
    color: $rojo;
}
.positive{
    color: $verdeOscuro;
}
.negative, .positive{
    font-weight: 800;
    font-size: 0.9rem;
}
.arrow{
    width:10px;
}
.tendency{
    width:45px;
}
.diary, .tendency{
    display: block;
    float: right;
}
.arrow.up{
    transform: rotate(180deg);
}
.dashboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.dashboard .card{
    flex-grow: 1;
    width: 24%;
    border: 1px solid $verdeClaro;
    margin:10px;
    padding: 20px;
    position: relative;
}
.number{
    font-size: 3rem;
    margin: 0 0 16px 0;
}
.dashboard svg{
    position: absolute;
    overflow: overlay;
    bottom: 9%;
    right: 7%;
}
.dashboard .icoConfirmados{
    width: 31%;
}
.dashboard .icoAltas{
    width: 26%;
}
.dashboard .icoFallecimientos{
    width: 26%;
}
.dashboard .icoIngresos{
    width: 26%;
}
.dashboard .icoUci{
    width: 26%;
}
.dashboard .icoSanitarios{
    width: 26%;
}
.dashboard .detalle{
    width: 60%;
}

.dashboard.today .card{
    width: 19%;
}
.dashboard.today svg{
    position: relative;
    margin: 23px 34%;
    width: 37%;
    bottom: 0;
    right: 0;
}
.dashboard.today .icoConfirmados{
    width: 48%;
    margin: 9px 29%;
}
.icoInformacion{
    padding: 0;
    overflow: visible;
    width: 26px;
    float: right;
    margin: 2px 0 0 16px;
    display: inline-block;
}
.fecha div{
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin:0;
}
td.nota{
    font-size: 0.9rem;
    line-height: 1.3rem;
    text-align: left;
    padding: 15px 0 18px 0;
}
.icoTelegram{
    float: left;
    width: 4.5%;
    min-width: 65px;
    margin: 22px 50px 10px 24px;
}
.suscripcion .boton{
    background-color: #01afaf;
    color: #fff;
    display: block;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    margin: 0 20px 0 30px;
    font-weight: 500;
    font-size: 1.31rem;
}
.suscripcion{
    background-color: $verdeExtraClaro;
    padding: 2%;
    margin-top: 80px;
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
}
.suscripcion .content{
   width: 55%;
   padding: 0;
}
.suscripcion .cta{
   width: 50%;
}
.cookie-law{
    background-color: $verdeExtraClaro;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 0.9rem;
    line-height: 1.2rem;
    width: 33%;
}
#cookie-law .content{
    width: 90%;
    margin: auto 7%;
    padding: 5% 0 3% 0;
}
.icoCookie{
    width: 15%;
    float: right;
    margin: 30px 20px 90px 10px;
}
.accept-cookie-law{
    background-color: #01afaf;
    color: #fff;
    margin: 10px 20% 0 20%;
    display: block;
    text-align: center;
    padding: 7px;
    text-decoration: none; 
}
@media (max-width: 1400px){
    .dashboard.today .card{
        width: 39%;
    }
    .dashboard.today svg{
       width: 32%;
    }
    .dashboard.today .icoConfirmados{
       width: 41%;
    }

}
@media (max-width: 1050px){
    body{
        line-height: 1.2em;
        font-size: 1.5rem;
    }                           
    h3{
        font-size: 1.8rem;
        line-height: 2rem;
    }
    .dashboard.zonas svg{
        position: relative;
        margin: auto 33%;
        width: 34%!important;
        min-height:100px;
        bottom: 0;
        right: 0;
    }
    .dashboard.zonas .icoConfirmados{
        position: relative;
        margin: auto 30%;
        width: 40%!important; 
    }
    .dashboard.zonas .detalle {
        width: 100%;
    }
    .nota.fuente, .fuente{
        font-size: 1.1rem;
    }
    table th .desktop{
        display: none;
    }
    table th .mobile{
        display: block;
    }
    .icoTelegram{
        width: 8.5%;
        margin: 62px 50px 10px 24px;
    }
    .suscripcion{
        flex-wrap: wrap;
    }
    .suscripcion .content{
       width: 72%;
    }
    .suscripcion .cta{
        width: 77%;
        margin: 0 auto 0 auto;
    }
    .suscripcion .boton {
        width: 73%;
        margin: 30px auto 20px auto;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 14px 5% 14px 5%;
    }
    h4{
        margin: 30px 0 10px 0;
    }
}
@media all and (max-width: 950px){
    .cookie-law{
        width: 60%;
    }
    header nav, .sticky nav{
        width: 60%;
    }
     header nav{
        margin: 101px 5% 0 0;
    }
    h2{
        font-size: 2.4rem;
    }
}

@media all and (max-width: 831px){
    .dashboard .card {
        flex-grow: 0;
        width: 38%;
    }
    .logo {
        width: 130px;
        margin: 46px 0 0 6%;
    }
    h2{
        line-height: 3rem;
    }
    .suscripcion .cta {
        width: 100%;
    }
}
@media all and (max-width: 768px){
.header, .header.sticky{
        background: url(/assets/img/curvas_MVL.jpg) 0px 0px #FFF no-repeat;
    }
footer .bar{
        background: url(/assets/img/curvasFooter_MVL.jpg) 0px 0px #bce8e9 no-repeat;
        height: 58px;
    }
    .icoInformacion{
        width: 20px;
    }
    .fecha div{
        float: right;
    }
}
@media (max-width: 704px){
    h3{
        width: 75%;
    }
    .dashboard.today .card{
        width: 100%;
    }
    .dashboard.today svg{
        width: 20%;
        position: absolute;
        overflow: overlay;
        bottom: 9%;
        right: 7%;
        margin: 0px 0 7px 0;
    }
    .dashboard.today .icoConfirmados{
        width: 28%;
        margin:0 -22px 0 0;
    }
}
@media (max-width: 645px){
    .dashboard.zonas .card{
        width: 100%;
    }
    .dashboard.zonas svg, .dashboard.today svg{
        position: relative;
        margin: 0 33% 20px 33%;
        width: 34% !important;
        min-height: 100px;
        bottom: 0;
        right: 0;
    }
    .dashboard.zonas .icoConfirmados, .dashboard.today .icoConfirmados{
        position: relative;
        margin: 0 30% 20px 30%;
        width: 40% !important;
    }
    .icoTelegram {
        width: 21%;
        margin: 24px auto 6px auto;
    }
    .suscripcion .content{
        width: 100%;
        padding: 0 9% 0 9%;
    }
    .suscripcion .boton{
        width: 73%;
        margin: 30px auto 20px auto;
        font-size: 1.5rem;
        font-weight: 500;
        padding: 14px 5% 14px 5%;
    }
}
@media all and (max-width: 425px){
    table{
        display: block;
        overflow: auto;
    }
    .logo {
        width: 56%;
        margin: 30% 22% 10% 22%;
    }
    .content {
        width: 84%;
        margin: 0 7% 0 7%;
        padding: 0;
    }
    header nav {
        float: none;
        width: 90%;
        margin: auto 5% auto 5%;
    }
    header nav ul {
        flex-wrap: nowrap;
        padding: 0;
    }
    header nav ul li {
        font-size: 1.5rem;
        text-align: center;
    }
    h2 {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 60px 0 20px 0;
    }
    h3 {
        text-align: center;
        padding: 0 0 10px 0;
        width: 100%;
    }
    .dashboard .card{
        width:100%;
    }
    .dashboard.zonas svg, .dashboard.today svg{
        width: 31%!important;
        margin: 0px 35%;
    }
    .dashboard.today .icoConfirmados {
        width: 40% !important;
        margin: 0px 30%;
    }
    table .fecha, table td{
        font-size: 1rem;
    }
     table th{
        font-size: 0.8rem;
    }
    table .fecha{
        font-size: 0.9rem;
    }
    table td{
        font-size: 1.1rem;
    }
    .diary, .tendency {
        float: none;
    }
    .tendency {
        width: auto;
        padding: 0;
    }
    .nota.fuente, .fuente{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .sticky{
        padding: 0 0 2% 0;
    }
    .sticky .logo {
        width: 20%;
        float: left;
        margin: 15px 0 0 20px;
    }
    .sticky nav {
        float: right;
        width: 68%;
        margin: 45px 2% 0 2%;
    }
    .sticky ul{
        margin: 0;
    }
    .sticky li {
        font-size: 1.2rem;
    }
    .header, .header.sticky{
        background: url(/assets/img/curvas_MVL.jpg) -110px 0px #FFF no-repeat;
    }
    .cookie-law{
        font-size: 0.9rem;
        line-height: 1.1rem;
        width: 100%;
    }
    #cookie-law .content{
        width: 90%;
        margin: auto 5%;
        padding: 5% 0 3% 0;
    }
    .icoCookie{
        width: 15%;
        margin: 30px 20px 90px 10px;
    }
    h4 {
        margin: 18px 0 10px 0;
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .suscripcion .boton {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .suscripcion .content {
        padding: 0 2% 0 2%;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    footer{
        min-height:210px;
        padding-bottom: 5px;
        font-size: 1rem;
    }
    footer .content{
        display: block;
        text-align: center;
        margin: 0 auto 0 auto;
    }
    footer .author{
        width:100%;
    }
    footer .legal{
        float: none;
        margin: 0 auto 0 auto;
        margin: 0px auto 0 auto;
        padding-top: 30px;
        text-align: center;
        min-width: 110px;
    }
    footer .icoCookies{
        margin: 0 30px 0 0;
    }
}