.content {
  background-color:#fff;
  padding: 2% ;
  color:#2C3034;
}
table {
  font-size: 0.7em;
  width: 100%;
}
td {
  text-align: center;
  border: 1px solid #2C3034;
}
th {
  background: #2C3034;
  color: #fff;
}
.chart-container {
 width: 100%;
}