<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{{site.title}}. {{page.title}}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="shortcut icon" href="/assets/img/favicon-16x16.png" type="image/x-icon">
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{site.description}}" />
    <meta name="twitter:title" content="{{site.title}}" />
    <meta name="twitter:image" content="" />
  
    <link rel="icon" type="image/png" href="/assets/img/favicon-196x196.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon-196x196.png">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-918753-15"></script>
    <script src="/assets/js/index.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="header" id="header">
        <a href="/#"><img src="/assets/img/logoCurvaAragon.svg" alt="{{site.title}}" class="logo"></a>
        <nav>
          <ul>
              <li><a href="/#huesca">Huesca</a></li>
              <li><a href="/#zaragoza">Zaragoza</a></li>
              <li><a href="/#teruel">Teruel</a></li>
          </ul>
        </nav>
        
        
      </header>
      {{ content }}
      <footer>
        <div class="bar"></div>
        <div>
          Ideado, diseñado y desarrollado con cariño por <a href="https://www.linkedin.com/in/vanessa-rubio-marquino/">Vanessa Rubio</a> y <a href="https://www.danilat.com/">Dani Latorre</a>.
        </div>
        <div>
          Código <a href="https://github.com/danilat/covid-19-aragon/">disponible en github</a>
          <br>
          Consulta nuestra <a href="/cookies">política de cookies</a>
        </div>
      </footer>
      <div id="cookie-law" class="cookie-law" style="display:none;">
          {% include illustrations/ico_cookies.svg %}
          <div class="content">Esta web utiliza cookies de terceros para obtener datos analíticos para conocer su audiencia.  Al continuar navegando entendemos que aceptas la <a href="cookies">política de uso de cookies</a>.</div>
          <a href="#" id="accept-cookie-law" class="accept-cookie-law">Aceptar y cerrar aviso</a>
      </div>
    </div>

  </body>
</html>