<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <link rel="shortcut icon" href="https://www.danilat.com/img/favicon.png" type="image/x-icon">
    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:description" content="{{site.description}}" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="{{site.title}}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:description" content="{{site.description}}" />
    <meta name="twitter:title" content="{{site.title}}" />
    <meta name="twitter:image" content="" />
    <link rel="stylesheet" href="/assets/css/index.css">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="barSup"></div>
        <a href="/"><img src="/assets/img/logoCurvaAragon.svg" alt="{{site.title}}" class="logo"></a>
      </header>
      {{ content }}
      <footer>
        
      </footer>
      <div id="cookie-law" style="display: none;">
        <p>Sí, esta web utiliza cookies de terceros para obtener datos analíticos para conocer su audiencia.  Al continuar con la navegación entendemos que se acepta la <a href="cookies">política de uso de cookies</a>.</p>
        <a href="#" id="accept-cookie-law" >Aceptar y cerrar aviso</a>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
      <script src="/assets/js/index.js"></script>
    </div>
  </body>
</html>